# Advent of Code Challenges - Day 1

In [1]:
# load libraries
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
# load data
input_path = './input.txt'

with open(input_path) as f:
    lines = f.readlines()
f.close()

df = DataFrame(lines).astype(int)

## Puzzle 1 - Assess increase from one value to the next
The first challenge, the VERY FIRST ONE, is to compare one number to the next and see how many times the new number is bitter than the last.  To do this, we will:
1. Create a new column in our DataFrame offsetting the value of our original column by 1
2. Produce a True/Valse array using the comparison df['col_1'] > df['col_2'] and sum the True values

In [3]:
# Count the number of times the value increases from one line to the next
df[1] = [df.iloc[x,0] if x == 0 else df.iloc[x-1,0] for x in df.index]

# Print out the first 5 records to verify our column creation was successful
df.head()

     0    1
0  122  122
1  129  122
2  116  129
3  122  116
4  135  122

In [4]:
answer = (df[0] > df[1]).sum()
print(f"Answer: {answer}")

Answer: 1462

## Puzzle 2 - Assess increase from one 3-digit sliding sum to the next
In this Part II of the challenge, we are looking at doing a sliding sum of 3 digits to help reduce 'noise' as we're scanning the depth from one position to the next. We will use a similar method to Part I.
1. Create a column of the sliding sum for our current position
  * Use a large filler value in the first **2** positions to prevent accidentally counting the first row as an increase over nothing
2. Create a column of the sliding sum for our position, lag 1
  * Use a large filler value in the first **3** positions to prevent accidentally counting the first row as an increase over nothing
3. Produce a True/False array using the comparison df['col_1'] > df['col_2'] and sum the True values

In [6]:
# Count the number of times the 3-digit sliding value increases from one line to the next
df[2] = [100000 if x <= 1 else df.iloc[x-2:x+1,0].sum() for x in df.index]
df[3] = [100000 if x <= 2 else df.iloc[x-3:x,0].sum() for x in df.index]

# Print out the first 5 records to verify our column creation was successful
df.head()

     0    1       2       3
0  122  122  100000  100000
1  129  122  100000  100000
2  116  129     367  100000
3  122  116     367     367
4  135  122     373     367

In [7]:
answer = (df[2] > df[3]).sum()
print(f"Answer: {answer}")

Answer: 1497