# Advent of Code Challenges - Day 2

## Load Libraries

In [1]:
import pandas as pd

from pandas import DataFrame

## Load Data

In [2]:
input_path = './input.txt'

with open(input_path) as f:
    lines = f.readlines()
f.close()

# convert to pandas DataFrame
df = DataFrame([line.replace("\n","").split(" ") for line in lines])
df.rename(columns={0:'direction', 1:'magnitude'}, inplace=True)
df.magnitude = df.magnitude.astype(int)
df.head()

  direction  magnitude
0   forward          8
1   forward          3
2      down          8
3      down          2
4        up          1

## Puzzle 1 - Following Directions
* Determine Displacement and Depth after series of commands
* Start at 0, 0
* Forward X increases Displacement by X
* Down X increases Depth by X
* Up X decreases Depth by X

In [3]:
# change values in 'magnitude' column to negative if the 'direction' is 'up'
df['magnitude'] = df.apply(lambda x: -x['magnitude'] if x['direction'] == 'up' else x['magnitude'], axis=1)

# print the first 10 records to verify
df.head(10)

  direction  magnitude
0   forward          8
1   forward          3
2      down          8
3      down          2
4        up         -1
5        up         -4
6      down          9
7   forward          3
8   forward          4
9   forward          5

In [4]:
# calculate depth as sum of magnitudes where direction is either 'up' or 'down'
# calculate disp as sum of magnitudes where direction is 'forward'
depth = df[df.direction.isin(['up','down'])].magnitude.sum()
disp = df[df.direction == 'forward'].magnitude.sum()

# Submit answer as product of Depth and Displacement
answer = depth*disp
print(f"Depth x Disp ({depth} x {disp})")
print(f"Answer: {answer}")

Depth x Disp (1018 x 1823)
Answer: 1855814

## Puzzle 2 - Wait, that wasn't right
* Determine Displacement, Depth, and Aim  after series of commands
* Start at Displacement 0, Depth 0, and Aim 0
* Forward X increases Displacement by X and increases Depth by Aim*X
* Down X increases Aim by X
* Up X decreases Aim by X

In [5]:
# add columns for current disp, depth, and aim values
df['disp'] = 0
df['depth'] = 0
df['aim'] = 0

# print first 10 rows to verify
df.head(10)

  direction  magnitude  disp  depth  aim
0   forward          8     0      0    0
1   forward          3     0      0    0
2      down          8     0      0    0
3      down          2     0      0    0
4        up         -1     0      0    0
5        up         -4     0      0    0
6      down          9     0      0    0
7   forward          3     0      0    0
8   forward          4     0      0    0
9   forward          5     0      0    0

In [6]:
df['disp'] = (df.apply(lambda x: x['magnitude'] if x['direction'] == 'forward' else 0, axis=1)).cumsum()
df['aim'] = (df.apply(lambda x: x['magnitude'] if x['direction'] in ['up', 'down'] else 0, axis=1)).cumsum()
df['depth'] = (df.apply(lambda x: x['magnitude']*x['aim'] if x['direction'] == 'forward' else 0, axis=1)).cumsum()
df.head(10)

  direction  magnitude  disp  depth  aim
0   forward          8     8      0    0
1   forward          3    11      0    0
2      down          8    11      0    8
3      down          2    11      0   10
4        up         -1    11      0    9
5        up         -4    11      0    5
6      down          9    11      0   14
7   forward          3    14     42   14
8   forward          4    18     98   14
9   forward          5    23    168   14

In [7]:
final_dest = df[['disp', 'depth']].iloc[-1]
answer = final_dest.product()
print(f"Answer: {answer}")

Answer: 1845455714